<!DOCTYPE html>
<html>
<head>
    <title>SSN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" class="container">
     <form ng-controller="myController" class="well" >
        <div class="form-group">
            <label for="ssn">Enter SSN</label>
            <input id="ssn" type="text" placeholder="xxx-xx-xxxx" maxlength="11" 
                ng-model="myssn" class="form-control" />
        </div>
        <button type="button" class="btn btn-success" ng-click="showSSN()"> Click Me </button>
        <h2 ng-bind="myssn"></h2>
        <h2 ng-bind="ssnWithoutHyphen"></h2>
	</form>
  <script src="script.js"></script>
</body>
</html>